<!-- Email Reader -->
<h3 style="font-family: sans-serif;"><%= @greeting %>, <%= @user %></h3>

<h5> <%= @persona.startup %></h5>

<p style="font-family: sans-serif; color: #FD0510;">Bootcamper at <a href="https://www.lewagon.com/pt-BR/sao-paulo" target="_blank">Le Wagon &#169</a></p>
