<!-- Email Reader -->
<h3 style="font-family: sans-serif;"><%= @greeting %>!</h3>
<h4 style="font-family: sans-serif;"><%= @user %></h4>

<h5 style="font-family: sans-serif; font-weight: lighter"><%= @role %></h5>



<p style="font-family: sans-serif; color: #FD0510;">Bootcamper at <a href="https://www.lewagon.com/pt-BR/sao-paulo" style="text-decoration: none" target="_blank">Le Wagon &#169</a></p>
