<!-- Email Reader -->
<h3 style="font-family: sans-serif;"><%= @greeting %>, <%= @user %></h3>


<p style="font-family: sans-serif; color: #FD0510;">Bootcamper at <a href="https://www.lewagon.com/pt-BR/sao-paulo">Le Wagon &#169</a></p>
